<% content_for :head do %>
  <%= javascript_include_tag "search" %>
<% end %>

<%= link_to "Save as Album", user_albums_path(current_user, tag: @search_string), method: :post %>

<div id="images" data-user-id="<%= current_user.id %>" data-search-string="<%= @search_string %>"></div>
