<div class="modal">
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-content">
        <img id="lightbox-image" src="" alt="">
      </div>
    </div>
  </div>
</div>
