<%= @album.user %>
<%= @album %>
<div>***</div>

<% @images.each_with_index do |photo, i| %>
  <div>
    <h3><%= "#{i + 1} - #{photo[:tags].to_s}" %></h3>
    <%= image_tag photo[:image].url, size: "#{photo[:image].height}x#{photo[:image].width}" %>
  </div>
<% end %>
