
.delete-button {
  height: 3em;
  border: 2px solid red;
  font-size: 1.025em;
  color: red;
  padding: 0.5em 1em;
  background: white;
}

.delete-button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

.save-album-button {
  height: 3em;
  border: 2px solid #1ECD97;
  font-size: 1.025em;
  color: #1ECD97;
  padding: 0.5em 1em;
  background: white;
  margin: 2em 2em;
  display: block;
  width: 10em;

}

.save-album-button:hover {
  background: #1ECD97;
  color: white;
  cursor: pointer;
}
