@import "bourbon";
@import "neat";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

 /* Colors

Green - #1ECD97

Grey - #62706c

Medium Grey - #ccc

Light Grey - #f9f9f9

*/

@import "reset";
@import "refills_nav";
@import "refills_flash";
@import "refills_hero";
@import "profile";
@import "refills_modal";
@import "albums";

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
}

/*

nav {
  background-color: #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  padding-left: 1%;
  padding-right: 5%;
}
*/

.user-avatar {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin-right: 0.5em;
}

div.container {
  padding: 2em;
  /*border: 1px dashed black;*/
}

/*
p.logo {
  font-size: 2em;
  color: #62706c;
  transition: .5s;
  border: 1px dashed black;
  display: inline;
}

p.logo:hover {
  color: #C65D57;
}

*/

div.mini-profile {
  vertical-align: middle;
  display: inline-block;
  margin-right: 1%;
}

.avatar {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  margin-left: 1%;
  margin-right: 2%;
  vertical-align: middle;
}

.album-header {
  margin-top: 2%;
  margin-bottom: 3%;
  line-height: 1.5em;
}

.user-fullname {
  font-size: 1.2em;
  color: #C65D57;
}

.bio {
  color: #ccc;
}

.album-tag {
  font-size: 2em;
  color: #62706c;
  margin-top: 0.2em;
}

div.image {
  background-color: #f9f9f9;
  /*height: 350px;
  width: 250px;*/
  float: left;
  display: inline-block;
  margin-bottom: 3%;
  border-radius: 0.5em;
  position: relative;
  transition: .3s;
}

.image:hover {
  transform: translateY(0.3em);
  cursor: pointer;
}

.image img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.image p {
  /*border: 1px dashed black;*/
  margin: 5px 5px 5px 5px;
}

p.image-details {
  margin-top: 15px;
}

p.image-name {
  font-size: 1.2em;
  color: #C65D57;
}

p.image-details {
  color: #ccc;
}

div.image:hover .fa-plus-square {
  visibility: visible;
}



@media (min-width: 36em) {

  div.image {
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
  }

}

@media (min-width: 66em) {

  div.image {
    width: 23%;
  }

}
