<div class="dashboard-images">

  <% @images.each do |image| %>
    <div class="album">
      <div class="album-overlay"></div>
      <p class="album-tile-tag"><%= image.tag_list %></p>
      <%= image_tag image.url %>
    </div>
  <% end %>

</div>
